* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: black;
}

.nav-wrapper {
	padding-left: 30%;
}

.m-top {
	margin-top: 20px;
}

.m-bottom {
	margin-bottom: 20px;
}

.title {
	font-weight: 500;
	font-size: 110%;
}

.small-text {
	font-size: 10px;
}

.small-two-text {
	font-size: 12px;
}

.container {
	width: 80%;
}

.item {
	position: relative;
	top: -40px;
}

.services {
	background-color: $services_color;
	img {
		width: 94%;
		border: 9px solid $services_color_dos;
	}
	.row {
		z-index: 2;
		position: relative;
		top: -80px;
	}
	.read-link {
		background-color: $services_color_dos;
		padding: 2%;
		a {
			color: black;
		}
	}
}

.beauty-hair {
	position: relative;
	top: -80px;
	background-color: $beauty_color;
	padding: 5% 0;
	img {
		border-radius: 10px;
		@extend .z-depth-5;
	}
	.col.info {
		padding: 0 3%;
		h5 {
			color: rgb(229, 135, 98);
		}
		.fa {
			color: $about_typ_color;
			margin-right: 5%;
		}
	}
}

.about {
	position: relative;
	top: -80px;
	background-color: $about_color;
	color: $about_typ_color;
	padding: 5% 0;
	.float-right {
		padding-right: 2%;
	}
	.float-left {
		padding-left: 2%;
	}
	img {
		margin: 1% 2%;
		border-radius: 10px;
	}
	.img-left {
		float: left;
	}
	.img-right {
		float: right;
	}
}

.page-footer {
	background-color: $footer_color;
	color: $about_typ_color;
}